@font-face { 
    font-family: 'YesevaOne'; 
    src: url("YesevaOne-Regular.ttf") format('opentype'); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #c394e6;
}

header {
    font-family: 'YesevaOne', serif;
    text-align: center;
    font-size: 400px;
    color: #c394e6;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #9500ff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    position: relative; 
    z-index: 2;
}
.button:hover {
    background-color: #b3009b;
}
.icon {
    font-size: 50px;
    
}
.first-section {
    margin: 0;
    padding: 0;
    background-image: URL("pictures/FaceBackground.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.second-section {
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .first-section {
        background-size: contain; /* Adjust image to fit within the section */
        background-position: center center; /* Ensure proper alignment */
        background-attachment: scroll; /* Allow image to scroll with content */
        height: auto; /* Adjust height to content */
        min-height: 100vh; /* Ensure section takes at least full viewport height */
        background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay for better text readability */
    }

    .second-section {
        height: auto; /* Adjust height to content */
        padding: 20px; /* Add some padding for small screens */
    }
}
